$--circuit-color-none: #ffffff;
$--circuit-color-earth: rgb(241, 173, 63);
$--circuit-color-water: rgb(7, 156, 240);
$--circuit-color-fire: rgb(207, 97, 102);
$--circuit-color-wind: rgb(5, 197, 141);
$--circuit-color-time: rgb(82, 52, 132);
$--circuit-color-gold: rgb(185, 172, 77);
$--circuit-color-silver: rgb(164, 164, 164);